<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>output data</title>
  </head>
  <body>
    <h1>File Data</h1>
    <h3>status</h3>
    <p><%=msg %></p>
    <h3>file name:</h3>
    <p><%=file %></p>
    <h3>file size</h3>
    <p><%=filesize %></p>
  </body>
</html>
